*{
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: "Poppins",sans-serif;
}                          

.container .box{
    height: 86vh; width: 75%;
    padding: 0 20px; 
    background-color:
    z-index: 10; border: 2px solid rgba (255, 255, 255, 0.7); border-radius: 20px; display: flex;
    backdrop-filter: blur (25px); box-shadow: -15px 17px 17px
    Drgba（10, 19, 10. 0.15）：